<div class="d-flex w-100">
  <div #editable
       #cursor="cursor"
       appCursor
       [class]="isEditing ? 'editable editing' : 'editable'"
       [contentEditable]="true"
       (focus)="handleFocus($event)"
       (blur)="handleBlur($event)"
       (keydown)="handleKey($event)"
       (input)="editableTextInput($event)">
    <p>{{editableText}}</p>
  </div>
  <input class="hidden"
         type="text"
         placeholder=""
         aria-label="Number"
         matInput
         tabindex="-1"
         [formControl]="autoCompleteControl"
         [matAutocomplete]="auto">
</div>
<div>
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let option of filteredOptions | async"
                [value]="option"
                (onSelectionChange)="suggestionSelect($event)">
      {{option}}
    </mat-option>
  </mat-autocomplete>
</div>
