<div class="custom-autocomplete">
  <div class="d-flex w-100">
    <div [class]="isEditing ? 'editable editing' : 'editable'"
         #editableText
         [contentEditable]="true"
         [textContent]="text"
         (focus)="handleFocus($event)"
         (blur)="handleBlur($event)"
         (input)="activateAutoComplete($event)">
      {{text}}
    </div>
    <input class="hidden"
           type="text"
           placeholder="Pick one"
           aria-label="Number"
           matInput
           #inputAuto
           (ngModelChange)="increaseValue($event)"
           [(ngModel)]="hiddenInput"
           (keydown)="handleKey($event)"
           [formControl]="autoCompleteControl"
           [matAutocomplete]="auto">
  </div>
  <div>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async"
                  [value]="option"
                  (onSelectionChange)="suggestionSelect($event)">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </div>
</div>
